html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;}

img
{ border: 0;}

h1, h2
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #43423F;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;}

h2
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #1293EE;}



ul
{ margin: 2px 0 22px 17px;}

ul li
{ 
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, .logo, #menubar, #site_content, #footer
{ margin-left: auto;  
  margin-right: auto;}

.header
{
  height: 150px;
  border-bottom: 1px #ddd solid;
  background: #FFF;
  }

.logo
{ width: 825px; 
  position: relative;
  height: 168px;}

.logo .logo_text 
{ position: absolute; 
  top: 20px;
  left: 0;}

.logo h1, .logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;}

.logo_text h1, .logo_text h1 a, .logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #000066;
  letter-spacing: 0.1em;
  text-decoration: none;}

.logo_text h1 a .logo_colour
{ color: #0000FF;}

.logo_text h2
{ font-size: 100%;
  padding: 4px 0 0 0;
  color: #FF9933;}

#menubar
{ 
  margin-left: 600px;
  width: 900px;
  height: 72px;
  padding: 0;
  color: #000033;
  background: 0 0;
  margin-top: 10px;
  
} 
#menu{
    margin-left: -30px;
}
ul#menu, ul#menu li
{ 
  margin: 0; 
  padding: 0;}

#menubar ul li
{   
    list-style: none;}
li {
   display: inline-block;
}
.btn-group{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.caret{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

/*ul#menu li {
 positon: relative;
} */
ul#menu li ul.nm1 {
 display: none;
 width: 100px;
}
ul#menu li a
{
    letter-spacing: 0.1em;
  font: normal 100% arial, sans-serif;
  padding: 15px 20px 6px 26px;
  text-align: center;
  color: #000033;
  text-transform: uppercase;
  text-decoration: none;
  } 
  .image ul li{
       margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    right: 0;
    left: auto;
  }
ul#menu li a:hover, ul#menu li.selected a, ul#menu li a:hover
{ color:#FF0000;
  }
  .dropdown-menu>li>a{
  display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
  }

.xoxuong ul {
    display: none;
}
.xo li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    white-space: nowrap;
}

li:hover ul {
    display: block;
    position: absolute;
}
li:hover li {
    float: none;
    font-size: 11px;
}
#site_content
{ width: 837px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 20px 24px 20px 37px;
  background: #FFF;} 

.sidebar
{ float: right;
  width: 190px;
  padding: 0 15px 20px 15px;}

.sidebar ul
{ width: 178px; 
  padding: 4px 0 0 0; 
  margin: 4px 0 30px 0;}

.sidebar li
{ 
  padding: 0 0 7px 0; }

.sidebar li a, .sidebar li a:hover
{ padding: 0 0 0 40px;
  display: block;
  } 

.sidebar li a.selected
{ color: #444;
  text-decoration: none;} 

#content
{ text-align: left;
  width: 595px;
  padding: 0;}

#content ul
{ margin: 2px 0 22px 0px;}

#content ul li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}
  .wrapper {
  min-height: 100%; /* Fix cho firefox */
  height: auto !important;
  height: 100%;
  background: #f9f2f4;
}

#footer
{ width: 100%;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  height: 60px;
  padding: 24px 0 5px 0;
  text-align: center; 
  background: #CCCCCC;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;}

#search_wrapper1{
	margin-top:3em;
}
#search_wrapper {
	margin-top:8em;
}
#search_form h1 {
    color: #222f50;
    font-size: 2em;
    margin-bottom: 10px;
    font-weight:400;
}
#search_wrapper p {
    margin: 20px 0;
}
#search_form input[type="text"]{
    padding: 8px;
    font-size: 0.85em;
    margin: 10px 0;
    border: 1px solid #999;
    color: #999;
    background: none;
    outline: none;
    font-weight: 300;
}
.search_form1 input[type="text"]{
    padding: 8px;
    font-size: 0.85em;
    border: 1px solid #ccc;
    color: #999;
    background: none;
    outline: none;
    font-weight: 300;
    width:50%;
    margin-bottom:20px;
}
#search_form label {
    position: relative;
    z-index: 1;
}
#search_wrapper {
    margin-top:5em;
}
.banner {
    min-height: 500px;
}
#footer a
{ color: #888;
  width: 100%;
}

#footer a:hover
{ color: #3079ed;
  text-decoration: underline;}

.dangki{
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}

body {
  background:#FFFFFF no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.login-card {
  padding: 40px;
  width: 274px;
  background-color: #F7F7F7;
  margin: 0 auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-top: 10px;
}

.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}

.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.input input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 5px;
}

.login-card input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.login-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  border-radius: 5px;
}

.login-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
}

.login-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}
.login-card{
    margin-top: 1px;
    margin-bottom: 13px;
}
.cao{
    height: 350px;
}
.login-card a:hover {
  opacity: 1;
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
}
.form_sum{
    background: #f9f2f4;
    margin-bottom: 100px;
}
.form{

    
}
.centerdangki{
    background: #FFF;
}
.form1{
    background-size: cover;
    width: 80%;
    height: 230px;
    background: #FF9933;
    margin-left: 130px;
    margin-top: 100px;
}
.text1{
    margin-top: 100px;
    color: #F7F7F7;
    margin-left: 500px;
}
.form1 .text2[type="text"]{
    
    width:825px;
    font-size: 13px;
    height: 35px;
    margin-bottom: 10px;
}
.tim{
    margin-top: 30px;
    height: 150px;
}
.search_form{
    background:url(../images/hh.png) no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 330px;  
}
.ketqua{
    background: #f9f2f4;
}
.htkqua{
    height: 50%;
    background:#FFF;
    width: 70%;
    border: 1px;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px #ddd solid;
}
.search_form h1{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
/*    margin-top: 70px;*/
    margin-bottom: 50px;
    
}

.search_form .text[type="text"]{
    
    width:350px;
    font-size: 13px;
    margin-bottom: 100px;
    border: 1px #a0a0a0 solid;
    height: 35px;
}

.input_tk{
    width: 200px;
    height: 35px;
    border-radius: 5px;
    height: 50px;
    border: 1px solid #e5e5e5;
    background: #4d90fe;
    color: #fff;
    
}
.upload {
    font-size:15px;
    color: #3333FF;
    list-style: none;
    display: inline-block;
     text-decoration:none;
     margin-top: 40px;
     
}
.up{
    width: 100%;
    height: 400px;
    background:url(../images/hh.png) no-repeat top center;
    
}
a:hover
{ color:#FF9933;

}
#scroll_box {
    height: 200px;
    width: 900px; 
    margin: 1em 0;
    overflow: auto;
    border: 1px solid #e5e5e5;
    position: relative;
    top: 0;
    position: relative;
    height: 100%;
    overflow: hidden;
    max-width: 100%;
    
}
.job-content{
    float: left;
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 1px dotted #ccc;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 58px;
    

}
.job-content b{
font-weight: bold;
}
.chitiet b {
    font-size: 1.1em;
    font-weight: 500;
    display: inline-block;
    color: #333;
}
#scroll_box .job-content em{
    display: block;
    font-style: normal;
    color: #888;
    font-weight: 400;
    margin-left: 57px;
    margin-top: 12px;
}
.job{
    margin-left: 223.5px;
}
.hot{
    background-color: #ef474f;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    vertical-align: baseline;
    border-radius: .25em;
    margin-left: 22px;
}
.hhh{

    width: 150px;
    font-weight: 500;
    font-size: 14px;
    background-color: #3079ed;
    border: 1px solid #00b9f2;
    border-bottom: none;
    color: #fff!important;
    height: 28px;
    padding: 10px 25px;
    margin-top:50px;
    margin-left: 223.5px;
    margin-bottom: -13px;

}
#scroll_box p{
    margin-left: 50px;
}
.wap{
    background: #f4f4f4;
    padding: 30px 0;
}
.lienhe{
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 1070px;
}
.lienhe1{
    padding: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    background: #fff;
    border: 1px #ddd solid;
    
}
.lienhe1 h1{
    color: #f7941d;
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 15px;
    display: block;
}
.lienhe1 h3{
    font-size: 23px;
    font-weight: 300;
    color: #888;
}

.image {
    margin-top: 78px;
    display: block;
    width: 46px;
    height: 46px;
    background: url(../images/sprite.png) 0 -60px no-repeat;
}
.anhkiem{
   
    margin-left: 300px;
    width: 49px;
    height: 49px;
   margin-top: 78px;
   float: right;
    background:url(../images/sprite.png) -60px 0 no-repeat;
    
}

.hinhtimkiem{
    background: url(../images/timkiem.png);
}
.suattcn{
    background: #f9f9f9;
}
.ttcn1{
    height:80% ;
}
.ttcn{
    background:#FFF;
    width: 70%;
    height: 90%;
    border: 1px;
    margin-left: 200px;
    margin-top: 20px;
    border: 1px #ddd solid;
   
    
}
.form_ttcn{
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 20px;
    width: 70%;
    
}
.text_ttcn{
    font-size: 20px;
    margin-left: 10px;
    color: #FFF;
    
}
.text_div{
    width: 100%;
    height: 30px;
    background: #4d90fe;
    
}
.taikhoan_div{
    height: 70px;
    
}
.taikhoan{
    font: bold;
    color: #5e5e5e;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 200px;
}

.luucn_input{
    width:110px;
    height: 30px;
    font-size: 15px;
    background:#357ae8;
    color: #FFF;
    margin-left: 50%;
    
}
.sum_tk input{
    width: 200px;
    height: 35px;
    border-radius: 5px;
}
.top_tk{
    margin-left: 20px;
    width: 600px;
}
 .option1{
    width: 400px;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.option2{
    width: 400px;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 60px;
}
.option3{
    width: 400px;
    height: 35px;
    border-radius: 5px;
}
.center_tk .option4{
    width: 400px;
    height: 35px;
    border-radius: 5px;
    margin-top: -50px;
}

.text2{
    height: 35px;
    border-radius: 5px;
}
.text3{
    width: 400px;
    height: 35px;
    border-radius: 5px;
}
.left_tk{
    margin-left: 20px;
}
.showjob{
    background: #f4f4f4;
    padding: 30px 0;
    padding-left: 5px;
    padding-right: 5px;
    
}
.dua{
    
    width: 900px;
    padding: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    background: #fff;
    border: 1px #ddd solid;
     margin-right: auto;
    margin-left: 65px;
    padding-left: 5px;
    padding-right: 5px;
}
.dua1{
    padding: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    background: #fff;
    border: 1px #ddd solid;
    
}
.dua2{
    
    position: relative;
}
.dua2 .btn btn-default{
     position: absolute;
     float: right;
     top: 15px;
}
.icon{
    background: #fff;
   margin-top: -285.7px;
    border: 0;
    box-shadow: 0 1px 1px #d5d5d5;
   float: right;
   margin-right: 65px;
    width: 260px;
    padding: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    background: #fff;
    border: 1px #ddd solid;
    padding-left: 5px;
    padding-right: 5px;
}
.icon1{
    margin-top: 15px;
    padding: 2px 15px;
    display: block;
   
}
.icon-a1{
    display: table-cell;
    width: 100%;
    margin-left: 30px;
}
.icon2{
    width: 100%;
    display: table-row;
    padding: 3px 0;
    display: block;
    border: 0 red solid;
}
.icon2-1{
    width: 50px;
    height: 50px;
    display: table-cell;
    padding: 0 15px 5px 15px;
    border-bottom: 1px solid #e8e8e8;
    background:url(../images/2.PNG) no-repeat;
}
.icon2-2{
    display: table-cell;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
}
.icon2-3{
    width: 50px;
    display: table-cell;
    padding: 0 15px 5px 15px;
    border-bottom: 1px solid #e8e8e8;
    background:url(../images/1.PNG) no-repeat;
}
.form_nhatuyendung{
    background: #f9f2f4;
}
.tdungdoipass{
    background:#FFF;
    width: 50%;
    height: 65%;
    border: 1px;
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px #ddd solid;
}
.form_tdpass{
    margin-left: 10%;
}
#input_td{
    width: 300px;
}
.showttcn{
    background: #f9f2f4; 
}
.ttcn_xem{
    width: 700px;
    overflow: hidden;
    background: #fff;
    border: 1px #ddd solid;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 200px;
  
}
.ttcn_xem1{
    margin-left: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.ntdtimkiem1{
    width:400px;
    font-size: 13px;
    height: 35px;
    border: 1px #b9b9b9 solid;
   
    margin-bottom: 20px;
}
.form_ntdtimkiem{
    background: #f9f2f4;
}
.form_ntdtimkiem2{
    width: 1050px;
    height: 250px;
    margin-left: 170px;
    margin-top: 80px;
    margin-bottom: 80px;
    border: 1px #ddd solid;
    background: #FFF;
}
.form_ntdtimkiem3{
    margin-top: 20px;
    
}
.form_ntdtimkiem_text{
    margin-top: 10px;
    border-bottom: 1px dotted #ccc;
    height: 30px;
}
.form_ntdtimkiem_text1{
    margin-left: 10px;
}
.input_ntdtk{
    width:180px;
    font-size: 13px;
    height: 35px;
    border: 1px #ddd solid;

    margin-bottom: 20px;
    background: #357ae8;
    color: #FFF;
}
.kq_tkhoso{
    width: 1050px;
    height: 250px;
    margin-left: 170px;
    margin-top: 80px;
    margin-bottom: 80px;
    border: 1px #ddd solid;
    background: #FFF; 
}

.dnngdung{
    width: 274px;
    height: 44px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px #ddd solid;
}
.xemchitiethoso{
   background: #f9f2f4; 
}
.xem{
    width: 800px;
    height: 450px;
    margin-left: 300px;
    margin-top: 80px;
    margin-bottom: 80px;
    border: 1px #ddd solid;
    background: #FFF; 
}
